<div class="all-songs", data-id="<%= @songs.ids%>">
  <ul class="song-list">
    <% @songs.each do |song, album| %>
      <li class="song-list-each", data-id="<%= song.id %>"> "<%= song.name %>" -- "<%= song.album %>" <br>
      <%= link_to 'Delete', artist_song_path(@artist, song), class: "delete-single", method: :delete  %> </li>
    <% end %>
    <br>
  </ul>
  <a class= "delete-all", method: :delete>  Click here to remove all songs.</a>
</div>
