<h1><%= @artist.name %></h1>
<br>
<hr>
<%= @artist.photos.find_each do |photo| %>
<%= image_tag photo.image %>
<% end %>
<br>
<hr>
<p> About: <%= @artist.bio %> </p>
<br>
<p> Genre: <%= @artist.genre %> </p>
<br>
<p> Formed in: <%= @artist.formed %> </p>
<br>
<p> Our favourite songs (and the related albums): <br>
  <%= @songs.find_each do |song, album| %> </p>
<ul> <li> "<%= song.name %>" -- ("<%= song.album %>") </li> </ul>
<% end %>
<br>
<br>

<%= link_to "[Add a new song to #{@artist.name}]", new_song_path %>
<br>
<br>
<br>
<%= link_to "Back", artists_path, class: "btn btn-default" %>
<br>
<br>
