<h1  data-id="<%= @artist.id %>" ><%= @artist.name %></h1>
<br>
<hr>
<%= @artist.photos.find_each do |photo| %>
<%= image_tag photo.image %>
<% end %>
<br>
<hr>
<p> About: <%= @artist.bio %> </p>
<br>
<p> Genre: <%= @artist.genre %> </p>
<br>
<p> Formed in: <%= @artist.formed %> </p>
<br>
<hr>

  <p>Our favourite songs (and the related albums): </p>
  <br>

<%= render "songlist" %>
<br>
<hr>
<br>
<br>
<p> Add a new song to <%= "#{@artist.name}" %> </p>
<br>
<%= render "form" %>
<br>
<br>
<hr>
<%= link_to "[Not a fan of #{@artist.name}? Click here to delete them from our site.]",
artist_path(@artist.id), class: "delete-artist", method: :delete %>
<br>
<br>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
<br>
<br>
