<h1><%= @artist.name %></h1>
<br>
<hr>
<p> About: <%= @artist.bio %> </p>
<br>
<p> Genre: <%= @artist.genre %> </p>
<br>
<p> Formed in: <%= @artist.formed %> </p>
<br>
<p> Songs: <br> <%= @songs.find_each do |song| %> </p>
<ul> <li> <%= song.name %> </li> </ul>
<% end %>
